<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head', {domain}) %>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- slide trái -->
        <%- include('../partials/left') %>
            <!-- End slide trái -->

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <!-- Top bar -->
                    <%- include('../partials/top') %>
                        <!-- End of Top bar -->

                        <!-- Begin Page Content -->
                        <div class="container-fluid" style="margin-top: 20px;">

                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary" style="display: inline;">
                                        Pets
                                    </h6>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Price</th>
                                                    <th>Image</th>
                                                    <th>Category</th>
                                                    <th>Deleted</th>
                                                    <th>
                                                        <a href="javascript:void(0)">🛠</a>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% pets.forEach(pet=> { %>
                                                    <tr>
                                                        <td>
                                                            <%- pet.name %>
                                                        </td>
                                                        <td>
                                                            <%- pet.price %>
                                                        </td>
                                                        <td>
                                                            <% pet.images.forEach((img, i)=> { %>
                                                                <a href="javascript:void(0)" class="mr-2"
                                                                    onclick="viewImage(this)"
                                                                    data-uri="<%- domain %>media/image/<%- img %>">
                                                                    Ảnh <%- i+1 %>
                                                                </a>
                                                                <%})%>
                                                        </td>
                                                        <td>
                                                            <%- pet.category.name %> | <%- pet.subcategory.name %>
                                                        </td>
                                                        <td>
                                                            <%- pet.deleted %>
                                                        </td>
                                                        <td>
                                                            <a href="/admin/pet/<%- pet._id %>"
                                                                class="btn btn-primary">Detail</a>

                                                        </td>
                                                    </tr>
                                                    <% }); %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="modal fade" id="zoomImage" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog" style="max-width: 30%;">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                        </div>
                                        <img src="" id="imgZoom" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- -->

                </div>
                <!-- End of Main Content -->

                <!-- Footer -->
                <%- include('../partials/footer') %>
                    <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <%- include('../partials/bot') %>

</body>

</html>